[Shot_1]
enabled = False
from = dummy@sunshire.net
to = ire7715@sunshire.net, ire771501@sunshire.net
subject = MailPitcher Test
htmlContent = <h1>MailPitcher</h1><p>test message</p>
plainContent = test message
files[0] = /tmp/mail.log
files[1] = /tmp/mail.pitcher.log
files[2] = /tmp/gloves.pitcher.log

[SMTP]
host = smtp.sunshire.net
port = 25
